* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

.container {
    background: grey;
    background: #6eaeec;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
}


.mem-slider {
    gap: 2rem;
    width: 70rem;
    padding: 2rem;
    display: flex;  
    flex-direction: column;
    align-items: center;
    background-color: #26272b;

}
.slider-wrapper{
    margin: 0 auto;
    width: 100%;
    height: 35rem;
    overflow: hidden;
}
.slider-wripper * {
    height: 100%;
}


.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}

.quotes {
    height: 1rem;
    width: 11.4rem;
    display: flex;
    overflow: hidden;
}
.quotes-wrapper {
    min-width: 400%;
    display: flex;
    transition: 0.8s;
}
.quotes-wrapper p {
    color: white;
}
.controls label {
    cursor: pointer;
    padding: 5px;
}



.controls input {
    appearance: none;
    border-radius: 50%;
    background-clip: content-box;
    height: 1rem;
    width: 1rem;
    border: 8px solid #6eaeec;
    cursor: pointer;
}

.controls input:hover {
    border: 8px solid white;
    opacity: 0.8;
}

.controls input:checked {
   border: 3px solid #6eaeec;
}
.controls input:checked:hover {
    border: 3px solid white;
    opacity: 0.8;
 }

 .controls input:checked:active {
    border: 3px solid white;
    opacity: 1;
 }

 .controls input:active {
    border: 8px solid white;
    opacity: 1;
 }
.tabs {
    height: 100%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons label {
    width: 20px;
    height: 20px;
    background: red;
    opacity: 0.5;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
}
.buttons label:hover {
    background-color: white;
}

.content {
    width: 400%;
    height: 100%;
    display: flex;
    transition: 1s;
}

.content .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 40px;
    border-radius: 15px;
}

.content .box:nth-child(1) {
    background-color:tomato;
}
.content .box:nth-child(2) {
    background-color:greenyellow;
}
.content .box:nth-child(3) {
    background-color:rgb(24, 46, 145);
}
.content .box:nth-child(4) {
    background-color:rgb(24, 137, 145);
}



.mem-slider:has(#slide-1:checked) .content {
    transform: translateX(0);
}
.mem-slider:has(#slide-2:checked) .content {
    transform: translateX(-25%);
}
.mem-slider:has(#slide-3:checked) .content {
    transform: translateX(-50%);
}
.mem-slider:has(#slide-4:checked) .content {
    transform: translateX(-75%);
}


.mem-slider:has(#slide-1:checked) .quotes-wrapper {
    transform: translateX(0);
}
.mem-slider:has(#slide-2:checked) .quotes-wrapper {
    transform: translateX(-25%);
}
.mem-slider:has(#slide-3:checked) .quotes-wrapper {
    transform: translateX(-50%);
}
.mem-slider:has(#slide-4:checked) .quotes-wrapper {
    transform: translateX(-75%);
}







