:root {
    --clr-backg: radial-gradient(circle farthest-corner at 92.3% 71.5%, rgba(83, 138, 214, 1) 0%, rgba(134, 231, 214, 1) 90%);
    --clr-backg-2: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    --clr-backg-slider: #26272b;
    --clr-ctrl: #6eaeec;
    --clr-ctrl-active: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-image: var(--clr-backg-2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
}


.mem-slider {
    aspect-ratio: 16/9;
    gap: 2rem;
    width: 70rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-backg-slider);
}

.slider-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}

.quotes {
    font-size: 1.4rem;
    height: 1.5rem;
    width: 30rem;
    display: flex;
    overflow: hidden;
}

.quotes-wrapper {
    min-width: 400%;
    display: flex;
    transition: 0.8s;
}

.quotes-wrapper p {
    color: white;
    width: 30rem;
}

.controls label {
    cursor: pointer;
    padding: 5px;
}

.controls input {
    appearance: none;
    border-radius: 50%;
    background-clip: content-box;
    height: 1rem;
    width: 1rem;
    border: 8px solid var(--clr-ctrl);
    cursor: pointer;
}

.controls input:hover {
    border: 8px solid var(--clr-ctrl-active);
    opacity: 0.8;
}

.controls input:checked {
    border: 3px solid var(--clr-ctrl);
}

.controls input:checked:hover {
    border: 3px solid var(--clr-ctrl-active);
    opacity: 0.8;
}

.controls input:checked:active {
    border: 3px solid var(--clr-ctrl-active);
    opacity: 1;
}

.controls input:active {
    border: 8px solid var(--clr-ctrl-active);
    opacity: 1;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons label {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
}

.buttons label:hover {
    background-color: var(--clr-ctrl-active);
}

.content {
    width: 400%;
    height: 100%;
    display: flex;
    transition: 1s;
}

.content .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
}

.content .box:nth-child(1) {
    background-color: tomato;
}

.content .box:nth-child(2) {
    background-color: greenyellow;
}

.content .box:nth-child(3) {
    background-color: rgb(24, 46, 145);
}

.content .box:nth-child(4) {
    background-color: rgb(24, 137, 145);
}



.mem-slider:has(#slide-1:checked) .content {
    transform: translateX(0);
}

.mem-slider:has(#slide-2:checked) .content {
    transform: translateX(-25%);
}

.mem-slider:has(#slide-3:checked) .content {
    transform: translateX(-50%);
}

.mem-slider:has(#slide-4:checked) .content {
    transform: translateX(-75%);
}


.mem-slider:has(#slide-1:checked) .quotes-wrapper {
    transform: translateX(0);
}

.mem-slider:has(#slide-2:checked) .quotes-wrapper {
    transform: translateX(-25%);
}

.mem-slider:has(#slide-3:checked) .quotes-wrapper {
    transform: translateX(-50%);
}

.mem-slider:has(#slide-4:checked) .quotes-wrapper {
    transform: translateX(-75%);
}






@media(max-width: 768px) {
    .container {
        padding-inline: 15px;
    }

    .mem-slider {
        padding-bottom: 2rem;
        width: 100%;
    }

    .bottom-wrapper {
        flex-direction: column-reverse;
        gap: 1.25rem;
    }

    .quotes {
        margin-right: auto;
        width: 99%;
    }

    .quotes-wrapper p {
        width: 100%;
        font-size: 18px;
    }
}
